body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  background-color: #ffffff;
}

a,
ul {
  list-style-type: none;
  text-decoration: none;
  font-style: normal;
}

.logo {
  font-family: "Raleway";
  font-size: 18px;
  line-height: 1.15;
  font-weight: bolder;
}

button:hover {
  color: red;
}

.links {
  font-size: 16px;
  line-height: 1.5;
}

.add {
  font-size: 16px;
  line-height: 1.5;
}

button {
  color: #4d5ae5;
  background-color: #e7e9fc;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
}

.small-text {
  font-size: 16px;
}

.links:active {
  color: red;
}

.add:hover,
.add:focus {
  color: red;
}

h1 {
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  font-weight: bold;
}
h2 {
  font-size: 36px;
  line-height: 1.11;
  font-weight: bold;
}
h3 {
  font-size: 20px;
  line-height: 1.2;
  font-weight: normal;
}

a {
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

footer {
  color: #f4f4fd;
  background-color: #2e2f42;
}

.hero {
  background-color: #2e2f42;
}

.web {
  color: #4d5ae5;
}

.studio {
  color: #f4f4fd;
}
